*, *::before,*::after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*Variables */
:root {
    --main-bg-color:#0A0C1B;
    --card-bg-color: #1C1938;
    --main-text-color:#FFFFFF;
    --secondary-text-color:#c9c9ca;
    --filter-color:#aa5cdb;
    --padding-for-mobile:4rem;
    --padding-for-desktop:6rem;
  }

html { 
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    color: var(--main-text-color);
}
body {
    min-width: 100%;
    min-height: 100%;  
    background-color: var(--main-bg-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

main { 
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}



section { 
    display: block;
}
.cardContainer { 
    display: flex;
    flex-direction: column;
    flex: 0 1 110rem;
    border-radius: 1.5rem;
    background-color: var(--card-bg-color);
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-width: 37.5rem;
}

.pictureContainer { 
    background-color: var(--filter-color);
    position: relative;
}


.image { 
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}


.textContainer { 
    padding:var(--padding-for-mobile);
    text-align: center;
}

.cardTitle { 
    font-size: 3rem;
    font-weight: 700;
}

.textFilter { 
    color: var(--filter-color);
}


.text{ 
    padding:2.9rem ;
    font-size: 1.45rem;
    color: var(--secondary-text-color);
    line-height: 1.6;
}

.stats { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;

}

.statsItem { 
    display: block;
    font-size: 2.2rem;
    list-style: none;
    font-weight: 700;
    margin-bottom: 2rem;
}

.textMention { 
    text-transform: uppercase;
    font-size: 1.1rem;
    display: block;
    color: var(--secondary-text-color);
    letter-spacing: 0.1rem;
    margin-top: 0.7rem;
}


.attribution { 
    padding:1rem;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
}

.attribution a { 
    text-decoration: none;
    color: var(--filter-color);
}

.attribution a:hover {
    color: var(--main-text-color);
}

@media screen and (min-width:760px) { 
    .cardContainer { 
        flex-direction: row-reverse;
        max-width: 100%;
    }
    .textContainer { 
        text-align: left;
        flex:0 1 56.5rem;
        min-width: 0;
        padding:6.7%  6% 6.7% 6% ;
    }

    .cardTitle { 
        font-size: 3.5rem;
    }

    .text { 
    padding-left:0 ;
    padding-right:0 ;
    }
    .stats { 
        flex-direction: row;
    }

    .text,.stats { 
        max-width: 35rem;
    }

    .pictureContainer { 
        flex:0 1 auto ;
        min-width: 0;
    }

}